@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: var(--font-space-grotesk), var(--font-geist-mono), var(--font-geist-sans) , var(--font-roboto), var(--font-inter);
  letter-spacing: -0.05em;
}

@layer base {
	:root {
		--background: #b4d6cd;
		--foreground: #2a3d38;
		--card: #d9e7e2;
		--card-foreground: #3f524d;
		--popover: #b4d6cd;
		--popover-foreground: #3f524d;
		--radius: 0.5rem;
	}

	.dark {
		--background: #2a3d38;
		--foreground: #b4d6cd;
		--card: #1e2c28;
		--card-foreground: #9bbfb4;
		--popover: #2a3d38;
		--popover-foreground: #9bbfb4;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
